<!DOCTYPE html>
<html lang="en" xml:lang="en">

<head>
    <meta charset="utf-8">
    <title>Table</title>
    <link rel="stylesheet" href="static/datatables.min.css">
    <script src="static/datatables.min.js"></script>
    <script src="static/table.js"></script>
</head>

<body>
    <table id="table_id" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
        <caption>Docker services list</caption>
        <thead>
            <tr>
                <th scope="col">short_id</th>
                <th scope="col">name</th>
                <th scope="col">stack</th>
                <th scope="col">image</th>
                <th scope="col">tag</th>
                <th scope="col">replication_mode</th>
                <th scope="col">replica_want</th>
                <th scope="col">tasks_count</th>
                <th scope="col">replica_running</th>
                <th scope="col">tasks_shutdown</th>
                <th scope="col">created</th>
                <th scope="col">created_human</th>
                <th scope="col">updated</th>
                <th scope="col">updated_human</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th scope="col">short_id</th>
                <th scope="col">name</th>
                <th scope="col">stack</th>
                <th scope="col">image</th>
                <th scope="col">tag</th>
                <th scope="col">replication_mode</th>
                <th scope="col">replica_want</th>
                <th scope="col">tasks_count</th>
                <th scope="col">replica_running</th>
                <th scope="col">tasks_shutdown</th>
                <th scope="col">created</th>
                <th scope="col">created_human</th>
                <th scope="col">updated</th>
                <th scope="col">updated_human</th>
            </tr>
        </tfoot>
    </table>
</body>

</html>