<html>

<head>
    <meta charset="utf-8">
    <title>Table</title>
    <link rel="stylesheet" href="static/jquery.dataTables.min.css">
    <script src="static/jquery-3.5.1.js"></script>
    <script src="static/jquery.dataTables.min.js"></script>
    <script src="static/table.js"></script>
</head>

<body>
    <table id="table_id">
        <thead>
            <tr>
                <th>short_id</th>
                <th>name</th>
                <th>stack</th>
                <th>image</th>
                <th>tag</th>
                <th>replica_count</th>
                <th>created</th>
                <th>created_human</th>
                <th>updated</th>
                <th>updated_human</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>short_id</th>
                <th>name</th>
                <th>stack</th>
                <th>image</th>
                <th>tag</th>
                <th>replica_count</th>
                <th>created</th>
                <th>created_human</th>
                <th>updated</th>
                <th>updated_human</th>
            </tr>
        </tfoot>
    </table>
</body>

</html>